{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
<div class="jumbotron mt-4">
    <div class="row">
        <div class="col-6">
            {{ form_row(form.username) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.prenom) }}
        </div>
        <div class="col-6">
            {{ form_row(form.telephone) }}
            {{ form_row(form.email) }}
            {{ form_row(form.imageFile) }}
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-block btn-lg btn-success">Valider</button>
            </div>
            <div class="col-6">
                <a href="{{ path('formateur') }}" class="btn btn-block btn-lg btn-danger">Annuler</a>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}